body {
    background-color: #1F2937;
}

.wrapper {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.cover-section {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;    
    padding: 50px 0;

    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
}

.cover-text {
    flex-wrap: wrap;
    width: inherit;
}

.cover-h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.cover-p {
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
}

.button-signup {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 24px;
    border: 0;
    border-radius: 8px;
}

.cover-img {
    background-color: aliceblue;
    height: 360px;
    text-align: center;
    width: inherit;
}

.feat-section {
    background-color: #fff;
    text-align: center;
    padding-bottom: 50px;

    width: 100%;
}

.feat-h1 {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
    
    margin: 20px auto;
    width: 100%;
    max-width: 1080px;
}
.features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feat-img {
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 25px;
}

.quote-section {
    background-color: #E5E7EB;
    width: 100%;
    padding:40px 0;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

.quote-p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quoter-p {
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 20px;
}

.CTA-section {
    background-color: #fff;
    width: 100%;
    padding: 25px 0;
}

.CTA-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    width: 100%;
    max-width: 1080px;

    background-color: #3882f6;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 25px 100px;
}

.CTA-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color:#F9FAF8;
}

.CTA-button {
    color:#F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 10px 25px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
    padding: 10px 0;
}

.footer-p {
    color:#E5E7EB;
}